@media (prefers-color-scheme: light) {
  $dark_color: #000000;
  $medium_dark_color: #999999;
  $light_gray: #efefef;
  $light_color: #ffffff;
  $shaddow: rgba(0, 0, 0, 0.15);

  body {
    background-color: $light_color;
  }

  #root {
    background-color: $light_color;
    color: $dark_color;
  }
  #to-do-app {
    border: 1px solid $light_gray;
    box-shadow: 0 0 15px $shaddow;

    form.form-group {
      background-color: $light_color;

      > label {
        color: $dark_color;
      }

      > input {
        background-color: $light_color;
        color: $dark_color;
        &::placeholder {
          color: $medium_dark_color;
        }
      }
    }

    #to-do-list {
      li {
        background-color: $light_color;
        .form-check label {
          color: $dark_color;
        }
      }

      .form-check-input {
        &:checked {
          + {
            .form-check-label {
              color: $medium_dark_color !important;
            }
          }
        }
      }

      .note-content {
        .note-text {
          color: $dark_color;
          background-color: $light_color;
        }
      }
    }
  }
  .svg-inline--fa path {
    color: $dark_color !important;
  }
}

@media (prefers-color-scheme: dark) {
  $dark_color: #ffffff;
  $medium_dark_color: #efefef;
  $light_gray: #999999;
  $light_color: #000000;
  $shaddow: rgba(255, 255, 255, 0.15);

  body {
    background-color: $light_color;
  }

  #root {
    background-color: $light_color;
    color: $dark_color;
  }

  #to-do-app {
    border: 1px solid $light_gray;
    box-shadow: 0 0 15px $shaddow;

    form.form-group {
      background-color: $light_color;

      > label {
        color: $dark_color;
      }

      > input {
        background-color: $light_color;
        color: $dark_color;
        &::placeholder {
          color: $medium_dark_color;
        }
      }
    }

    #to-do-list {
      li {
        background-color: $light_color;
        .form-check label {
          color: $dark_color;
        }
      }

      .form-check-input {
        &:checked {
          + {
            .form-check-label {
              color: $medium_dark_color !important;
            }
          }
        }
      }

      .note-content {
        .note-text {
          color: $dark_color;
          background-color: $light_color;
        }
      }
    }
  }

  .svg-inline--fa {
    color: $dark_color !important;
  }
}
* {
  color: inherit;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#to-do-app {
  padding: 20px;
  border-radius: 20px;
  width: 440px;
  margin: 0 auto;

  form.form-group {
    display: flex;

    > label {
      flex-grow: 100%;
    }

    > input {
      margin-right: 15px;
    }
  }

  #to-do-list {
    padding: 0;
    margin: 25px auto;

    li {
      .task-simple {
        display: flex;
        flex-wrap: wrap;
      }

      .btn {
        padding: 1px 5px;
        margin-left: 5px;
      }

      .form-check {
        flex-grow: 1;
        text-align: left;
        display: flex;
        align-content: center;

        label {
          margin-left: 15px;
          flex-grow: 1;
        }
      }

      .form-check-input {
        &:checked {
          + {
            .form-check-label {
              text-decoration: line-through;
            }
          }
        }
      }

      .note-content {
        flex-wrap: wrap;
        flex-grow: 1;
        .note-text {
          min-width: 100%;
          text-align: left;
          border: none;
          outline: none;
          resize: vertical;
        }
      }
    }
  }
}

h1 {
  font-size: 26px !important;
}
